
* {
    box-sizing: border-box;
  }
body {
     font-family: 'Raleway', sans-serif;
}
.header1 {
         display: flex;
         justify-content: space-between;
         align-items: center;
         flex-flow: wrap;
         flex-wrap: wrap;
         width: 90%;
         margin: auto;
}
.nav a{
         text-decoration: none;
         color:#0065FC;
         font-weight: bold;
}
.nav a:hover {
              color:#DEEBFF;
}
.nav{
         list-style: none;
         margin: 0;
         padding: 0;
         display: flex;
}
.nav li{
          margin-left: 20px;
}
.header2 {
    width: 90%;
    margin: auto;
    flex-flow: wrap;
    flex-wrap: wrap;
}
input {
    position: relative;
    display: inline-block;
    font-size: 12px;
    box-sizing: border-box;
}
input[type="text"] {
                   background:none;  
                   border-radius:  10px 0 0 10px;
                   width:200px;
                   height: 30px;
                   outline: none;
                   border-color:#aaa;
                   padding: 0 40px;
                   margin-left: -36px;
}
input[type="submit"] {
                 position: relative;
                 left:-10px;
                 border-radius: 0 10px 10px 0;
                 width: 100px;
                 height: 30px;
                 border-color:rgb(233, 225, 225);
                 border: none;
                 outline: none;
                 cursor: pointer;
                 background: blue;
                 color: #fff;
                 text-align: center;
}
input[type="submit"]:hover{
                      background: cornflowerblue;
}
.header2 i{
          color: black;
           background-color: rgb(219, 211, 211);
           border-radius:  12px 0 0 12px;
           padding: 8px 10px;
           padding-top: 6px;
}
.link{
        margin:auto;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-flow: wrap;
        flex-direction: row;
        width: 90%;
        padding-top: 20px;
        padding-bottom: 20px;
}
.link a{
       text-decoration: none;
       font-weight: bold;
       padding: 5px 25px;
       border-width: 2px;
       border-color:#DEEBFF;
       border-style: solid;
       border-radius: 50px;
       color: #000;
       margin: 10px;
}
.link p{
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: bold;
        align-items: center;
}
.link a:hover {
    color:#DEEBFF;
}
.filter a{
border: none;
padding: 0 0;
}
.icon i{
      border-radius: 50px;
      padding: 8px 10px;
      background-color:rgb(196, 223, 241);
      margin-left: -25px;
      margin-right: 10px;
      color: blue;  
}
.infom{
    align-items: center;
    flex-flow: wrap;
    margin-left: 35px;
}
.infom p{
    font-size: 14px;
    font-weight:bold;
    color: rgb(112, 107, 107);
}
.infom i{
    color:blue;
    border-width: 1px;
    border-color:#DEEBFF;
    border-style: solid;
    border-radius: 50px;
    background-color: white;
    padding: 5px 8px;
    margin-right: 10px;
    margin-left:45px;
}
section{
    margin-left: 45px;
    margin-right: 45px;
}
.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap:10px;
}
.main{
    display:grid;
    grid-template-columns:30% 30% 30%;
    grid-template-rows: 2.6em 37% 37% 1em;
    grid-gap:10px;
    background-color:rgb(218, 215, 215);
    border-radius: 15px 15px;
    padding-left: 45px;
    height: 625px;
}
.side{
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 2.6em 150px 150px 150px;
    grid-gap:25px;
    background-color:rgb(218, 215, 215);
    border-radius: 15px 15px;
    padding-left: 45px;
    height: 625px;
    padding-right: 45px;
}
.col{
    display: grid;
    grid-template-columns:40% 60%;
    grid-template-rows: 150px;
}
.col1{
    display: grid;
    grid-template-columns:40% 60%;
    grid-template-rows: 150px;
}
.col2{
    display: grid;
    grid-template-columns:40% 60%;
    grid-template-rows: 150px;
}
.activitie{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: 2.6em 1fr ;
    grid-gap: 20px;
    height: 400px;
    margin-top: 10px;
    margin-left: 45px;
    margin-right: 45px;
}
 .row{
     display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:155px 155px;
    grid-gap: 10px;
}
.activitie .row  div:nth-child(1){
    border-width: 2px;
    border-color:rgb(218, 215, 215);
    border-style: solid;
    border-radius: 15px;
}
.activitie .row  div:nth-child(2){
    border-width: 2px;
    border-color:rgb(218, 215, 215);
    border-style: solid;
    border-radius: 15px;
}
.activitie .row  div:nth-child(2){
    background-color: white;
}
.activitie .row  div:nth-child(2){
    background-color: white;
}
.activitie div:nth-child(1){
    border-radius: 15px 15px;
}
.activitie div:nth-child(2){
    border-width: 2px;
    border-color:rgb(218, 215, 215);
    border-style: solid;
    border-radius: 15px;
}
.activitie div:nth-child(3){
    background-color: white;
}
.activitie div:nth-child(4){
    border-width: 2px;
    border-color:rgb(218, 215, 215);
    border-style: solid;
    border-radius: 15px;
}
.activitie div:nth-child(5){
    background-color: white;
}
#act1{
    grid-column: 1/5;
    grid-row: 1;
}
.main div:nth-child(2) {
  background-color: #ffffff;
  border-radius: 15px 15px;
}
  .main div:nth-child(3) {
    background-color:#ffffff;
    border-radius: 15px 15px;
}
  .main div:nth-child(4) {
    background-color:#ffffff;
    border-radius: 15px 15px;
}
  .main div:nth-child(5) {
    background-color:#ffffff;
    border-radius: 15px 15px;
}
  .main div:nth-child(6) {
    background-color:#ffffff;
    border-radius: 15px 15px;
}
 .main div:nth-child(7) {
        background-color:#ffffff;
        border-radius: 15px 15px;
}  

.side div:nth-child(2) {
    background-color:#ffffff;
    border-radius:  15px  15px;
}  
.side div:nth-child(3) {
    background-color:#ffffff;
    border-radius: 15px 15px;
}  
.side div:nth-child(4) {
    background-color:#ffffff;
    border-radius: 15px 15px;
}  
.col div:nth-child(1) {
     background-color:#ffffff;
     border-radius: 15px 15px;
}
.col div:nth-child(2) {
    background-color:#ffffff;
    border-radius: 0 15px 15px 0;
}

.col1 div:nth-child(1) {
    background-color:#ffffff;
    border-radius:  15px 15px;
}
.col1 div:nth-child(2) {
    background-color:#ffffff;
    border-radius: 0 15px 15px 0;
}
.col2 div:nth-child(1) {
    background-color:#ffffff;
    border-radius:  15px 15px;
}
.col2 div:nth-child(2) {
    background-color:#ffffff;
    border-radius: 0 15px 15px 0;
}
#one{
    grid-column: 1/4;
}
#eight {
    grid-column:1/4;
}
.two img{
    width: 100%;
    height:50%;
    border-radius:15px 15px 0 0;
    padding: 5px 5px 0 5px;
    object-fit: cover;
    object-position: 50% 50%;
}
.activitie img{
    width: 100%;
    height:80%;
    border-radius:15px 15px 0 0;
    object-fit: cover;
    object-position: 50% 50%;
}
.row img{
    width: 100%;
    height:70%;
    border-radius:15px 15px 0 0;
    object-fit: cover;
    object-position: 50% 50%;
}
.row .row2 img{
    width: 100%;
    height:70%;
    border-radius:0 0 15px 15px ;
    object-fit: cover;
    object-position: 50% 50%;
}
h4{
    padding-left: 15px;
}
.two p{
    font-size: 14px;
    font-weight:bold;
    color: rgb(87, 82, 82);
    padding-left: 15px;
    margin-top: -15px;
}
.cost{
    color:black;
}
#star2{
    color:lightgray;
}
#srar4{
    color:lightgray;
}
#star3{
    color:lightgray;
}
#star5{
    color:lightgray;
}
#star6{
    color:lightgray;
}
 #star7{
        color:lightgray;
}
#star8{
    color:lightgray;
}
.staricon{
    padding-left:15px;
    padding-bottom: 15px;
    color:blue;
}
.side1{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
}
.side img{
    width: 100%;
    height:94%;
    border-radius:15px 0 0 15px;
    padding: 5px 5px 0 5px;
    object-fit: cover;
    object-position: 50% 50%;
}
.side p{
    font-size: 14px;
    font-weight:bold;
    color: rgb(87, 82, 82);
    padding-left: 15px;
    margin-top: -15px;
}
.bnt a{
     text-decoration: none;
     font-weight: bold;
     color:black;
}
.bnt a:hover {
    color:#1e1f22;
}
#eight{
    padding-top: 10px;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    background-color:rgb(218, 215, 215);
    margin: 15px 45px 45px 45px;
}
.item1{
    flex:1;
    padding-left: 3em;
    margin: 1em;
}
.item1 p{
    font-size: 14px;
    font-weight:bold;
    color: rgb(87, 82, 82);
}
.item1 h4{
    padding-left: 0;
}



@media screen and (min-width: 770px) {
   #mobile{
        display: none;
 }
    hr{
        display: none;
    }
   
}
@media screen and (max-width: 768px) {
 #mheader{
        margin-left: 10px;
    }
    .hide{
        display: none;
    }
    
    .activitie{
        display:inline-block;
        margin: auto;
        
    }
    .row{
        display: inline-block;
        margin: 0;
        padding: 0;
}
.link p{
    width: 100%;
    font-size: 14px;
}
.infom p{
    font-size: 0.5rem;
}
.infom{
    margin-left:-20px;
}
.link a{
 display: block;
}
.header1{
    width: 100%;
    padding-left: 40px;
    padding-right: 100px;
}
.container{
        display:grid;
        grid-template-columns:100%;
        grid-template-areas: 
                'side'
                'main';
}
.main{
    display: inline-block;
    grid-area: main;
    height:100%;
    background-color: white;
    padding-left: 25px;
    padding-right: 25px;
}
.wrapper{
        display:inline-block;
        margin: 0;
}
.side{
    grid-area: side;
     border-radius: 0;
     padding-left: 25px;
     padding-right: 25px;
}
.activitie img{
    max-width: 600px;
    height:100px;
   
}
.activitie{
    padding-left: 25px;
    padding-right: 25px;
}

.footer{
    margin: 0;
    margin-top: 10px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}
.act2{
   margin-bottom: 10px;
}
.row3{
    margin-bottom: 10px;
    margin-top: 10px;
}
.row1{
    margin-bottom: 10px;
}
.row .row2 img{
    width: 100%;
    height:100px;
}
.two img{
    width: 100%;
    height:100px;
    padding: 0;
}
.two{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2),
    0 4px 16px 0 rgba(0,0,0,.2);
     margin-bottom: 10px;
}
hr{
    height: 2px;
    border: none;
    background:linear-gradient(to left,rgb(218, 215, 215), blue);
}
input[type="text"] {
    width:175px;
   }
   input[type="submit"] {
    width: 50px;
}
.link a{
   border-radius: 70px;
   font-size: 12px;
}
h2{
    font-size: 18px;
}
}